<div class="bg-dark p-5 text-white mt-5">
    <h2 class="text-center text-info" >Product Details</h2>
    <img [src]="product?.img" alt="{{product?.name}}" width="200" height="150" class="img-fluid rounded-circle"/>
    <p  class="leas" >Product Name: {{product?.name}}</p>
    <p  class="leas" > Product Price: {{product?.price}}</p>
    <p  class="leas" > Product Quantity: {{product?.quantity}}</p>

    <div>
        <i class=" text-warning fs-0.9 bi bi-star-fill"></i>
        <i class=" text-warning fs-0.9 bi bi-star-fill"></i>
        <i class=" text-warning fs-0.9 bi bi-star-fill"></i>
        <i class=" text-warning fs-0.9 bi bi-star-fill"></i>
        <i class=" text-warning fs-0.9 bi bi-star-fill"></i>
    </div>
    <button [routerLink]="['/products']" class="btn btn-primary mt-5"> Back to Products</button>
</div>