<table class="table table-dark table-hover mt-10 p-5 ">
    <thead >
        <tr >
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Image</th>
          <th class="d-flex justify-content-center" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (product of products; track product.id) {
          <tr>
            <th scope="row"> {{product.id}}</th>
            <td>{{product.name}}</td>
            <td> $ {{product.price}} </td>
            <td>{{product.quantity}}</td>
            <td><img [src]="product.img" alt="{{product.name}}" width="50" height="50" class="img-fluid rounded-circle"/></td>
            <td  >
                  <i [routerLink]="['/products',product.id]" class="text-warning mx-3 fs-4 bi bi-eye-fill p-2"></i>
                  <i [routerLink]="['/products',product.id,'edit']" class="text-info mx-3 fs-4 bi bi-pencil-square p-2"></i>
                  <i (click)="deleteHandler(product.id)" class="text-danger mx-3 fs-4 bi bi-trash3-fill p-2"></i>
            </td>
          </tr>
        }
      </tbody>
  </table>